In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

/Users/abhinivesh/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/abhinivesh/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
# source : https://medium.com/@cristhianboujon/how-to-list-the-most-common-words-from-text-corpus-using-scikit-learn-dad4d0cab41d

def get_top_n_words(corpus, n=None):
    """
    List the top n words in a vocabulary according to occurrence in a text corpus.
    """
    vec = CountVectorizer().fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in     vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]

In [3]:
unfiltered_na_df = pd.read_csv('FINAL_DATASETS/large_unfiltered_NAs_final.csv')
unfiltered_na_df.head()

,Unnamed: 0,author,created,submissions,comments,daily_downtime
0,0,Ragin33Redhead,2013-04-27 02:45:01+00:00,40,7,15.000000
1,1,OncomingStorm93,2012-12-01 17:49:21+00:00,41,328,9.000000
2,2,SorenBreese,2015-02-21 08:52:48+00:00,1,2,9.503512
3,3,Letterbox10,2014-06-10 23:34:17+00:00,22111,34,6.000000
4,4,ujames,2012-11-13 14:06:26+00:00,299,469,20.000000

In [13]:
normal_accounts_1 = os.listdir('NormalAccounts/')
normal_accounts_2 = os.listdir('NormalAccounts2/')

unwanted_accounts = []

for i in range(len(unfiltered_na_df.author)):
    if unfiltered_na_df.author[i] in normal_accounts_1:
#         print(unfiltered_na_df.author[i], 1)
        pass
    elif unfiltered_na_df.author[i] in normal_accounts_2:
#         print(unfiltered_na_df.author[i], 2)
        pass
    else:
        unwanted_accounts.append(i)
        print(unfiltered_na_df.author[i], 0, i)
        
unfiltered_na_df = unfiltered_na_df.drop(unfiltered_na_df.index[unwanted_accounts])

KellyfromLeedsUK 0 911
KellyfromLeedsUK 0 1138
KellyfromLeedsUK 0 1220

In [28]:
unfiltered_na_df.reset_index(drop=True, inplace=True)

In [31]:
unfiltered_na_df.drop(columns=['Unnamed: 0'], inplace=True)
unfiltered_na_df.to_csv('FINAL_DATASETS/large_unfiltered_NAs_final.csv')

In [33]:
filtered_na_df = pd.read_csv('FINAL_DATASETS/small_filtered_NAs_final.csv')
filtered_na_df.drop(columns=['Unnamed: 0'], inplace=True)
filtered_na_df.head()

,author,created,submissions,comments,daily_downtime
0,KellyStrack,2015-11-02 17:26:44+00:00,133,0,7.000000
1,kabir_chaudhary,2016-08-09 06:15:35+00:00,1,0,9.503512
2,pseph2016,2016-10-29 14:32:02+00:00,4,0,9.503512
3,akunnaila,2016-04-08 02:26:05+00:00,192,0,15.000000
4,alypigcahighve,2015-11-28 07:18:34+00:00,1,0,9.503512

In [34]:
for i in range(len(filtered_na_df.author)):
    if filtered_na_df.author[i] in normal_accounts_1:
#         print(unfiltered_na_df.author[i], 1)
        pass
    elif filtered_na_df.author[i] in normal_accounts_2:
#         print(unfiltered_na_df.author[i], 2)
        pass
    else:
        unwanted_accounts.append(i)
        print(filtered_na_df.author[i], 0, i)

In [35]:
filtered_na_df.to_csv('FINAL_DATASETS/small_filtered_NAs_final.csv')

In [36]:
susp_list = os.listdir('SuspiciousAccounts/')
susp_df = pd.read_csv('FINAL_DATASETS/suspicious_accounts.csv')

for i in range(len(susp_df.author)):
    if susp_df.author[i] in susp_list:
#         print(unfiltered_na_df.author[i], 1)
        pass
    else:
        unwanted_accounts.append(i)
        print(susp_df.author[i], 0, i)

In [50]:
def getAllFeatures(accountName, accountType):
    currentPath = os.path.join(accountType, accountName)
    numSubmissions = 0
    numComments = 0
    if 'submissions.csv' in os.listdir(currentPath):
        submissions_csv_path = os.path.join(currentPath, 'submissions.csv')
        submissions_df = pd.read_csv(submissions_csv_path)
        
        uniqueDomains = len(submissions_df['domain'].unique())
        uniqueSubreddits = len(submissions_df['subreddit'].unique())
        uniqueTitles = len(submissions_df['title'].unique())
        numSubmissions = len(submissions_df)
        
        allTitles = ''
        for row in range(len(submissions_df)):
            allTitles += (str(submissions_df.loc[row, 'title']) + ' ')
        top_3_counts = get_top_n_words(allTitles.split(), 3)
        try:
            top_1 = top_3_counts[0][1]
        except:
            top_1 = 0
        try:
            top_2 = top_3_counts[1][1]
        except:
            top_2 = 0
        try:
            top_3 = top_3_counts[2][1]
        except:
            top_3 = 0
#         print(top_1, top_2, top_3)
        
    else:
        uniqueDomains = 0
        uniqueSubreddits = 0
        uniqueTitles = 0
        numSubmissions = 0
        top_1 = 0
        top_2 = 0
        top_3 = 0
        
    if 'comments.csv' in os.listdir(currentPath):
        comments_csv_path = os.path.join(currentPath, 'comments.csv')
        try:
            comments_df = pd.read_csv(comments_csv_path)
            numComments = len(comments_df)
        except:
            numComments = 0
        
        
    else:
        numComments = 0
        
    
        
    if numComments == 0:
        numComments = 1
    if numSubmissions == 0:
        numSubmissions = 1
        
    SubmToCommentRatio = numSubmissions / numComments
    classLabel = 1
    if os.path.dirname(accountType) == 'NormalAccounts':
        classLabel = 0
        
    return [uniqueDomains, uniqueSubreddits, uniqueTitles, numSubmissions, \
           top_1, top_2, top_3, numComments, SubmToCommentRatio, classLabel]

In [46]:
from tqdm import tqdm_notebook as tqdm
def createDataFrame(folderPath):
    
    namesList = os.listdir(folderPath)
    print(folderPath)
    domainsList = []
    subRedditsList = []
    titlesList = []
    submissionsList = []
    top_1List = []
    top_2List = []
    top_3List = []
    commentsList = []
    ratioList = []
    labelsList = []
    
    for accountName in tqdm(namesList):
        featureList = getAllFeatures(accountName, folderPath)
        domainsList.append(featureList[0])
        subRedditsList.append(featureList[1])
        titlesList.append(featureList[2])
        submissionsList.append(featureList[3])
        top_1List.append(featureList[4])
        top_2List.append(featureList[5])
        top_3List.append(featureList[6])
        commentsList.append(featureList[7])
        ratioList.append(featureList[8])
        labelsList.append(featureList[9])
        
    finalDict = {
        'accountName': namesList,
        'uniqueDomains': domainsList,
        'uniqueSubreddits': subRedditsList,
        'uniqueTitles': titlesList,
        'numSubmissions': submissionsList,
        'top_1': top_1List,
        'top_2': top_2List,
        'top_3': top_3List,
        'uniqueComments': commentsList,
        'SubmToCommentRatio' :ratioList,
        'label': labelsList
    }
    
    dataFrame = pd.DataFrame(finalDict)
    return dataFrame

In [48]:
normal_accounts_1_df = createDataFrame('NormalAccounts/')

NormalAccounts/

HBox(children=(IntProgress(value=0, max=308), HTML(value='')))

/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [51]:
normal_accounts_2_df = createDataFrame('NormalAccounts2/')
normal_accounts_2_df.label.replace([1], [0], inplace= True)
normal_accounts_1_df.label.replace([1], [0], inplace= True)

NormalAccounts2/

HBox(children=(IntProgress(value=0, max=1726), HTML(value='')))

/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/Users/abhinivesh/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [52]:
suspicious_accounts_df = createDataFrame('SuspiciousAccounts/')

SuspiciousAccounts/

HBox(children=(IntProgress(value=0, max=274), HTML(value='')))

In [53]:
temp_df = suspicious_accounts_df.append(normal_accounts_1_df)
temp_df_without_dd = temp_df.append(normal_accounts_2_df)
temp_df_without_dd.shape

(2308, 11)

In [57]:
temp_df_without_dd.reset_index(drop=True, inplace=True)
temp_df_without_dd

,accountName,uniqueDomains,uniqueSubreddits,uniqueTitles,numSubmissions,top_1,top_2,top_3,uniqueComments,SubmToCommentRatio,label
0,ModitiusFaetaur,3,5,8,8,5,2,2,1,8.000000,1
1,DoppleGun,1,13,29,46,19,13,8,1,46.000000,1
2,AgaluneMalordred,2,5,8,8,6,5,5,1,8.000000,1
3,Amohelang,1,1,1,1,1,0,0,1,1.000000,1
4,KulazelKelkree,1,2,5,5,1,1,1,1,5.000000,1
...,...,...,...,...,...,...,...,...,...,...,...
2303,Ozera,39,24,162,164,38,21,16,1185,0.138397,0
2304,dildoodlid,13,14,23,23,8,7,7,251,0.091633,0
2305,cncaudata,8,7,48,50,38,17,15,154,0.324675,0
2306,cs132,9,11,16,16,8,4,3,22,0.727273,0
2307,LivinForTheDankMemes,1,1,3,3,5,3,3,6,0.500000,0

In [59]:
unfiltered_na_df.rename(columns= {'author': 'accountName'}, inplace=True)
unfiltered_na_df

,accountName,created,submissions,comments,daily_downtime
0,Ragin33Redhead,2013-04-27 02:45:01+00:00,40,7,15.000000
1,OncomingStorm93,2012-12-01 17:49:21+00:00,41,328,9.000000
2,SorenBreese,2015-02-21 08:52:48+00:00,1,2,9.503512
3,Letterbox10,2014-06-10 23:34:17+00:00,22111,34,6.000000
4,ujames,2012-11-13 14:06:26+00:00,299,469,20.000000
...,...,...,...,...,...
2045,Hipsternarwhal74,2016-07-04 00:56:19+00:00,7,6,10.000000
2046,Blubbll,2014-07-01 09:06:05+00:00,980,6199,2.000000
2047,tantalicatom689,2012-02-11 08:17:10+00:00,36,237,19.000000
2048,fattyfattyta,2015-11-05 17:56:50+00:00,1,0,10.000000
2049,elikat,2011-03-23 05:50:53+00:00,72,470,3.000000

In [60]:
susp_df.rename(columns= {'author': 'accountName'}, inplace=True)
susp_df

,Unnamed: 0,accountName,created,submissions,comments,daily_downtime
0,0,BlackToLive,2016-07-05 01:13:18+00:00,28,3,9.000000
1,1,FaurnFlamebreaker,2015-05-15 09:44:41+00:00,1,0,5.816514
2,2,Bill_Jonson,2015-10-17 03:55:40+00:00,1,1,5.816514
3,3,PurebringerOghmagra,2015-05-15 12:38:42+00:00,6,0,5.816514
4,4,Clawisma,2015-09-16 17:22:29+00:00,27,4,3.000000
...,...,...,...,...,...,...
271,271,King_Andersons,2016-03-22 15:55:53+00:00,580,326,4.000000
272,272,BerskyN,2016-10-18 13:43:29+00:00,2,0,5.816514
273,273,WhatImDoindHere,2015-12-29 07:10:38+00:00,180,6,4.000000
274,274,Kevin_Milner,2016-03-30 12:46:36+00:00,2619,285,3.000000
275,275,shomyo,2010-05-28 07:44:27+00:00,1298,404,2.000000

In [61]:
susp_df.drop(columns=['Unnamed: 0'], inplace=True)
temp_with_dd = susp_df.append(unfiltered_na_df)
temp_with_dd

,accountName,created,submissions,comments,daily_downtime
0,BlackToLive,2016-07-05 01:13:18+00:00,28,3,9.000000
1,FaurnFlamebreaker,2015-05-15 09:44:41+00:00,1,0,5.816514
2,Bill_Jonson,2015-10-17 03:55:40+00:00,1,1,5.816514
3,PurebringerOghmagra,2015-05-15 12:38:42+00:00,6,0,5.816514
4,Clawisma,2015-09-16 17:22:29+00:00,27,4,3.000000
...,...,...,...,...,...
2045,Hipsternarwhal74,2016-07-04 00:56:19+00:00,7,6,10.000000
2046,Blubbll,2014-07-01 09:06:05+00:00,980,6199,2.000000
2047,tantalicatom689,2012-02-11 08:17:10+00:00,36,237,19.000000
2048,fattyfattyta,2015-11-05 17:56:50+00:00,1,0,10.000000
2049,elikat,2011-03-23 05:50:53+00:00,72,470,3.000000

In [67]:
final_df_1 = pd.merge(temp_df_without_dd, temp_with_dd, on = 'accountName')
final_df_1.head()

,accountName,uniqueDomains,uniqueSubreddits,uniqueTitles,numSubmissions,top_1,top_2,top_3,uniqueComments,SubmToCommentRatio,label,daily_downtime
0,ModitiusFaetaur,3,5,8,8,5,2,2,1,8.0,1,5.816514
1,DoppleGun,1,13,29,46,19,13,8,1,46.0,1,5.816514
2,AgaluneMalordred,2,5,8,8,6,5,5,1,8.0,1,6.000000
3,Amohelang,1,1,1,1,1,0,0,1,1.0,1,5.816514
4,KulazelKelkree,1,2,5,5,1,1,1,1,5.0,1,5.816514

In [69]:
final_df_2 = final_df_1[['accountName', 'SubmToCommentRatio', 'label', 'daily_downtime']]
final_df_2

               accountName  SubmToCommentRatio  label  daily_downtime
0          ModitiusFaetaur            8.000000      1        5.816514
1                DoppleGun           46.000000      1        5.816514
2         AgaluneMalordred            8.000000      1        6.000000
3                Amohelang            1.000000      1        5.816514
4           KulazelKelkree            5.000000      1        5.816514
...                    ...                 ...    ...             ...
2321                 Ozera            0.138397      0        2.000000
2322            dildoodlid            0.091633      0       12.000000
2323             cncaudata            0.324675      0       14.000000
2324                 cs132            0.727273      0       10.000000
2325  LivinForTheDankMemes            0.500000      0        4.000000

[2326 rows x 4 columns]

In [70]:
final_df_1.to_csv('FINAL_DATASETS/all_accounts_unfiltered_1.csv')
final_df_2.to_csv('FINAL_DATASETS/all_accounts_unfiltered_2.csv')

In [72]:
filtered_na_df.rename(columns= {'author': 'accountName'}, inplace=True)
temp_with_dd_2 = susp_df.append(filtered_na_df)
temp_with_dd_2

,accountName,created,submissions,comments,daily_downtime
0,BlackToLive,2016-07-05 01:13:18+00:00,28,3,9.000000
1,FaurnFlamebreaker,2015-05-15 09:44:41+00:00,1,0,5.816514
2,Bill_Jonson,2015-10-17 03:55:40+00:00,1,1,5.816514
3,PurebringerOghmagra,2015-05-15 12:38:42+00:00,6,0,5.816514
4,Clawisma,2015-09-16 17:22:29+00:00,27,4,3.000000
...,...,...,...,...,...
271,reticulated_python,2012-08-01 14:05:27+00:00,56,983,8.000000
272,Zamoon,2015-03-12 12:46:48+00:00,48,106,8.000000
273,jrwhite8,2010-08-22 08:20:01+00:00,1,885,14.000000
274,Sean3ezy,2013-08-19 05:19:19+00:00,188,951,3.000000
275,cccbigc,2015-10-21 07:00:24+00:00,8,4,13.000000

In [73]:
temp_with_dd_2.drop(columns=['created', 'submissions', 'comments'], inplace=True)
temp_with_dd_2.reset_index(drop=True, inplace=True)
temp_with_dd_2

             accountName  daily_downtime
0            BlackToLive        9.000000
1      FaurnFlamebreaker        5.816514
2            Bill_Jonson        5.816514
3    PurebringerOghmagra        5.816514
4               Clawisma        3.000000
..                   ...             ...
547   reticulated_python        8.000000
548               Zamoon        8.000000
549             jrwhite8       14.000000
550             Sean3ezy        3.000000
551              cccbigc       13.000000

[552 rows x 2 columns]

In [ ]:
final_df_3 = pd.merge(temp_with_dd_2, temp_df_witho)