In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

/Users/abhinivesh/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/abhinivesh/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
# source : https://medium.com/@cristhianboujon/how-to-list-the-most-common-words-from-text-corpus-using-scikit-learn-dad4d0cab41d

def get_top_n_words(corpus, n=None):
    """
    List the top n words in a vocabulary according to occurrence in a text corpus.
    """
    vec = CountVectorizer().fit(corpus)
    bag_of_words = vec.transform(corpus)
    sum_words = bag_of_words.sum(axis=0) 
    words_freq = [(word, sum_words[0, idx]) for word, idx in     vec.vocabulary_.items()]
    words_freq =sorted(words_freq, key = lambda x: x[1], reverse=True)
    return words_freq[:n]

In [3]:
unfiltered_na_df = pd.read_csv('FINAL_DATASETS/large_unfiltered_NAs_final.csv')
unfiltered_na_df.head()

,Unnamed: 0,author,created,submissions,comments,daily_downtime
0,0,Ragin33Redhead,2013-04-27 02:45:01+00:00,40,7,15.000000
1,1,OncomingStorm93,2012-12-01 17:49:21+00:00,41,328,9.000000
2,2,SorenBreese,2015-02-21 08:52:48+00:00,1,2,9.503512
3,3,Letterbox10,2014-06-10 23:34:17+00:00,22111,34,6.000000
4,4,ujames,2012-11-13 14:06:26+00:00,299,469,20.000000

In [13]:
normal_accounts_1 = os.listdir('NormalAccounts/')
normal_accounts_2 = os.listdir('NormalAccounts2/')

unwanted_accounts = []

for i in range(len(unfiltered_na_df.author)):
    if unfiltered_na_df.author[i] in normal_accounts_1:
#         print(unfiltered_na_df.author[i], 1)
        pass
    elif unfiltered_na_df.author[i] in normal_accounts_2:
#         print(unfiltered_na_df.author[i], 2)
        pass
    else:
        unwanted_accounts.append(i)
        print(unfiltered_na_df.author[i], 0, i)
        
unfiltered_na_df = unfiltered_na_df.drop(unfiltered_na_df.index[unwanted_accounts])

KellyfromLeedsUK 0 911
KellyfromLeedsUK 0 1138
KellyfromLeedsUK 0 1220

In [28]:
unfiltered_na_df.reset_index(drop=True, inplace=True)

In [31]:
unfiltered_na_df.drop(columns=['Unnamed: 0'], inplace=True)
unfiltered_na_df.to_csv('FINAL_DATASETS/large_unfiltered_NAs_final.csv')

In [33]:
filtered_na_df = pd.read_csv('FINAL_DATASETS/small_filtered_NAs_final.csv')
filtered_na_df.drop(columns=['Unnamed: 0'], inplace=True)
filtered_na_df.head()

,author,created,submissions,comments,daily_downtime
0,KellyStrack,2015-11-02 17:26:44+00:00,133,0,7.000000
1,kabir_chaudhary,2016-08-09 06:15:35+00:00,1,0,9.503512
2,pseph2016,2016-10-29 14:32:02+00:00,4,0,9.503512
3,akunnaila,2016-04-08 02:26:05+00:00,192,0,15.000000
4,alypigcahighve,2015-11-28 07:18:34+00:00,1,0,9.503512

In [34]:
for i in range(len(filtered_na_df.author)):
    if filtered_na_df.author[i] in normal_accounts_1:
#         print(unfiltered_na_df.author[i], 1)
        pass
    elif filtered_na_df.author[i] in normal_accounts_2:
#         print(unfiltered_na_df.author[i], 2)
        pass
    else:
        unwanted_accounts.append(i)
        print(filtered_na_df.author[i], 0, i)

In [35]:
filtered_na_df.to_csv('FINAL_DATASETS/small_filtered_NAs_final.csv')

In [36]:
susp_list = os.listdir('SuspiciousAccounts/')
susp_df = pd.read_csv('FINAL_DATASETS/suspicious_accounts.csv')

for i in range(len(susp_df.author)):
    if susp_df.author[i] in susp_list:
#         print(unfiltered_na_df.author[i], 1)
        pass
    else:
        unwanted_accounts.append(i)
        print(susp_df.author[i], 0, i)